<ion-grid class="grid-header" (click)="goTo('/journal')">
  <ion-row class="row-title">
    <ion-col>
      <span>文学文摘</span>
      <span>月刊</span>
    </ion-col>
    <ion-col size="5">
      <ion-label>影响力</ion-label>
      <ion-note style="color: #0cd1e8;">9.1</ion-note>
      <ion-icon class="icon-item"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="row-note">
    <ion-col>
      <div class="note-item">
        <ion-note>发稿率</ion-note>
        <ion-note>80%</ion-note>
      </div>
      <div class="note-item">
        <ion-note>月发文量</ion-note>
        <ion-note>318</ion-note>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="row-sub-note">
    <ion-col>
      <ion-text>JCR-区</ion-text>
      <ion-label class="point">·</ion-label>
      <ion-text>中科院-区</ion-text>
    </ion-col>
    <ion-col size="7">
      <ion-text>审稿时间</ion-text>
      <ion-text>3个月(非官方数据)</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>