<ion-card *ngFor="let item of [1,2,3,4]">
  <ion-grid>
    <ion-row class="row-title">
      <ion-col size="8">学术研究成果进行学术交流学术研究成果进行学术交流</ion-col>
      <ion-col>更新了笔记</ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col>
        激发的健康路附近打时空裂缝的骄傲了房价打开了代付款加快了京东方卡三等奖昆仑决
        激发的健康路附近打时空裂缝的骄傲了房价打开了代付款加快了京东方卡三等奖昆仑决
        激发的健康路附近打时空裂缝的骄傲了房价打开了代付款加快了京东方卡三等奖昆仑决
        激发的健康路附近打时空裂缝的骄傲了房价打开了代付款加快了京东方卡三等奖昆仑决
        激发的健康路附近打时空裂缝的骄傲了房价打开了代付款加快了京东方卡三等奖昆仑决
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>