<ion-grid>
  <ion-row class="row-item">
    <ion-col size="2">
      <ion-avatar class="avatar">
        <img src="../../../../../assets/icon/avatar.png" style="width: 38px; height: auto;">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-label>周小伟</ion-label>
      <div class="influence">
        <ion-note>影响力</ion-note>
        <ion-note>98</ion-note>
      </div>
    </ion-col>
    <ion-col>
      <ion-button size="small">+ 关注</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="row-item">
    <ion-col size="2">
      <ion-avatar class="avatar">
        <img src="../../../../../assets/icon/avatar.png" style="width: 38px; height: auto;">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-label>周小伟</ion-label>
      <div class="influence">
        <ion-note>影响力</ion-note>
        <ion-note>98</ion-note>
      </div>
    </ion-col>
    <ion-col>
      <ion-button size="small">+ 关注</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="row-item">
    <ion-col size="2">
      <ion-avatar class="avatar">
        <img src="../../../../../assets/icon/avatar.png" style="width: 38px; height: auto;">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-label>周小伟</ion-label>
      <div class="influence">
        <ion-note>影响力</ion-note>
        <ion-note>98</ion-note>
      </div>
    </ion-col>
    <ion-col>
      <ion-button size="small" color="medium">已关注</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
