<ion-item>
  <ion-grid>
    <ion-row class="row-title">
      <ion-col size="8">
        <span>周小波</span>
        <span>关注了文章</span>
      </ion-col>
      <ion-col size="4">昨天</ion-col>
    </ion-row>
    <ion-row class="row-sub-title">
      <ion-col><span>学术研究成果进行学术交流</span></ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col>
        附近受得了积分开始打击开发敬爱的法兰克积分卡时代峻峰卡的时间福克斯的垃圾房卡的巨额借款减肥的咖啡机
        附近受得了积分开始打击开发敬爱的法兰克积分卡时代峻峰卡的时间福克斯的垃圾房卡的巨额借款减肥的咖啡机
        附近受得了积分开始打击开发敬爱的法兰克积分卡时代峻峰卡的时间福克斯的垃圾房卡的巨额借款减肥的咖啡机
        附近受得了积分开始打击开发敬爱的法兰克积分卡时代峻峰卡的时间福克斯的垃圾房卡的巨额借款减肥的咖啡机
      </ion-col>
    </ion-row>
    <ion-row class="row-note-bar" justify-content-center nowrap>
      <ion-col size="3">
        <span>关注</span>
        <span>33</span>
      </ion-col>
      <ion-col style="max-width: 0;">•</ion-col>
      <ion-col size="3">
        <span>关注</span>
        <span>33</span>
      </ion-col>
      <ion-col style="max-width: 0;">•</ion-col>
      <ion-col size="3">
        <span>关注</span>
        <span>33</span>
      </ion-col>
      <ion-col>
        <span class="note-icon"></span>
        <span>33</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-grid>
    <ion-row class="row-title">
      <ion-col align-self-start size="8">
        <span>张三</span>
        <span>关注了期刊</span>
      </ion-col>
      <ion-col align-self-end size="4">昨天</ion-col>
    </ion-row>
    <ion-row class="row-sub-title">
      <ion-col><span>成果进行学术交流</span></ion-col>
    </ion-row>
    <ion-row class="row-content">
      <ion-col>
        附近受得了积分开始打击开发敬爱的法兰克积分卡时代峻峰卡的时间福克斯的垃圾房卡的巨额借款减肥的咖啡机
        附近受得了积分开始打击开发敬爱的法兰克积分卡时代峻峰卡的时间福克斯的垃圾房卡的巨额借款减肥的咖啡机
        附近受得了积分开始打击开发敬爱的法兰克积分卡时代峻峰卡的时间福克斯的垃圾房卡的巨额借款减肥的咖啡机
      </ion-col>
    </ion-row>
    <ion-row class="row-note-bar" justify-content-start nowrap>
      <ion-col size="3">
        <span>关注</span>
        <span>33</span>
      </ion-col>
      <ion-col style="max-width: 0;">•</ion-col>
      <ion-col size="3">
        <span>笔记</span>
        <span>12</span>
      </ion-col>
      <ion-col style="max-width: 0;">•</ion-col>
      <ion-col size="3">
        <span>已读</span>
        <span>23</span>
      </ion-col>
      <!--<ion-col>-->
      <!--<span class="note-icon"></span>-->
      <!--<span>33</span>-->
      <!--</ion-col>-->
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-grid>
    <ion-row class="row-title">
      <ion-col align-self-start size="8">
        <span>周小波</span>
        <span>关注了机构</span>
      </ion-col>
      <ion-col align-self-end size="4">一天前</ion-col>
    </ion-row>
    <ion-row class="row-sub-title">
      <ion-col><span>清华大学</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>影响力</span>
        <span>98</span>
      </ion-col>
    </ion-row>
    <app-avatar [avatarData]="avatarData"></app-avatar>
    <!--<ion-row class="avatar-list">-->
      <!--<ion-col size="4">-->
        <!--<ion-avatar>-->
          <!--<img src="../../../assets/icon/favicon.png" style="width: 26px; height: auto;">-->
        <!--</ion-avatar>-->
        <!--<ion-label>周小伟</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col size="4">-->
        <!--<ion-avatar>-->
          <!--<img src="../../../assets/icon/favicon.png" style="width: 26px; height: auto;">-->
        <!--</ion-avatar>-->
        <!--<ion-label>吴斌</ion-label>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  </ion-grid>
</ion-item>